/*------------------------------------*\
#FONTS
\*------------------------------------*/

/* @font-face{
}

@font-face{
}

@font-face{
} */

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
  /*------------------------------------*\
    # Colors
    \*------------------------------------*/

  /* #region Global colors brown & yellow */

  /*brown */
  --global-color-alpha-light-xx: #bdb5aa;
  --global-color-alpha-light-x: #bdac97;
  --global-color-alpha-light: #bd9a71;

  --global-color-alpha-neutral: #bd8f5b;

  --global-color-alpha-dark: #99744a;
  --global-color-alpha-dark-x: #664d31;
  --global-color-alpha-dark-xx: #332719;

  /* yellow */
  --global-color-beta-light-xx: #fffacc;
  --global-color-beta-light-x: #fff599;
  --global-color-beta-light: #fff066;

  --global-color-beta-neutral: #ffe600;

  --global-color-beta-darkish: #e0ca04;
  --global-color-beta-dark: #ccb800;
  --global-color-beta-dark-x: #998a00;
  --global-color-beta-dark-xx: #665c00;

  /* #endregion Global colors brown & yellow */

  /* #region Global colors black & white*/
  --global-color-neutral-xxxxx-light: #ffffff;
  --global-color-neutral-xxxx-light: #fffefc;
  --global-color-neutral-xxx-light: #f2efeb;
  --global-color-neutral-xx-light: #ccc9c6;
  --global-color-neutral-x-light: #b3b0ae;
  --global-color-neutral-light: #999794;
  --global-color-neutral: #807d7a;
  --global-color-neutral-dark: #666461;
  --global-color-neutral-xx-dark: #4d4b49;
  --global-color-neutral-xxx-dark: #333230;
  --global-color-neutral-xxxx-dark: #1a1816;
  --global-color-neutral-xxxxx-dark: #000000;
  /* #endregion Global colors black & white*/

  /* #region Global colors page background / text */
  --global-page-backgroundColor: var(--global-color-neutral-xxx-light);

  --global-page-textColor-black: var(--global-color-neutral-xxxx-dark);
  --global-page-textColor-white: var(--global-color-neutral-xxxx-light);
  --global-page-textColor-yellow: var(--global-color-beta-neutral);
  /* #endregion Global colors background page */

  /* #region Global colors gradiant */
  --global-color-gradient: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(26, 24, 22, 1) 0%, rgba(77, 75, 73, 1) 52%, rgba(26, 24, 22, 1) 100%);
  /* #endregion Global colors gradiant pagege */

  /* #region Global colors error input settings */
  --global-color-error: #ff3333;
  --global-color-error-transparent: #ff3333bf;
  /* #endregion Global colors error input settings */

  /* #region MOZ selection */
  --global-selection-backgroundColor: var(--global-color-alpha-light-x);
  /* #endregion MOZ selection */

  /*-----------------------------------------------------*\
    # Whitespace, baseline, Heights, Widths é font sizes
    \*-----------------------------------------------------*/

  /* #region Baseline settings */
  --global-baseline-x10: 0.5rem; /* = 8px */
  --global-baseline-x15: 0.75rem; /* = 12px */
  --global-baseline-x20: 1rem; /* = 16px */
  --global-baseline-x30: 1.5rem; /* = 24px */
  --global-baseline-x40: 2rem; /* = 32px */
  --global-baseline-x50: 2.5rem; /* = 40px */
  --global-baseline-x60: 3rem; /* = 48px */
  --global-baseline-x80: 4rem; /* = 64px */
  --global-baseline-x100: 5rem; /* = 80px */
  --global-baseline-x120: 6rem; /* = 96px */
  /* #endregion Baseline settings */

  /* #region Heights */
  --global-height-sm: var(--global-baseline-x10); /* = 8px */
  --global-height-md: var(--global-baseline-x15); /* = 12px */
  --global-height-md-x: var(--global-baseline-x20); /* = 16px */
  --global-height-lg: var(--global-baseline-x30); /* = 24px */
  --global-height-lg-x: var(--global-baseline-x40); /* = 32px */
  --global-height-lg-xx: var(--global-baseline-x50); /* = 40px */
  --global-height-lg-xxx: var(--global-baseline-x60); /* = 48px */
  /* #endregion Heights */

  /* #region Widths */
  --global-width-sm: var(--global-baseline-x10); /* = 8px */
  --global-width-md: var(--global-baseline-x15); /* = 12px */
  --global-width-md-x: var(--global-baseline-x20); /* = 16px */
  --global-width-lg: var(--global-baseline-x30); /* = 24px */
  --global-width-lg-x: var(--global-baseline-x40); /* = 32px */
  --global-width-lg-xx: var(--global-baseline-x50); /* = 40px */
  --global-width-lg-xxx: var(--global-baseline-x60); /* = 48px */
  /* #endregion Widths */

  /* #region whitespace */
  --global-whitespace: calc(var(--global-baseline-x10) * 3); /* = 24px */

  --global-whitespace-xs: calc(var(--global-baseline-x10) * 0.5); /* = 4px */
  --global-whitespace-sm: calc(var(--global-baseline-x10) * 1); /*  = 8px */
  --global-whitespace-md: calc(var(--global-baseline-x10) * 2); /*  = 16px */
  --global-whitespace-lg: calc(var(--global-baseline-x10) * 4); /*  = 32px */
  --global-whitespace-xl: calc(var(--global-whitespace) * 2); /*  = 48px */
  --global-whitespace-xxl: calc(var(--global-whitespace) * 3); /*  = 72px */
  /* #endregion whitespace */

  /* #region Font Sizes */
  --global-fz-sm-x: var(--global-baseline-x10); /* = 8px */
  --global-fz-sm: var(--global-baseline-x15); /* = 12px */
  --global-fz-md: var(--global-baseline-x20); /* = 16px */
  --global-fz-lg: var(--global-baseline-x30); /* = 24px */
  --global-fz-lg-x: var(--global-baseline-x40); /* = 32px */
  --global-fz-lg-xx: var(--global-baseline-x50); /* = 40px */
  --global-fz-lg-xxx: var(--global-baseline-x60); /* = 48px */
  /* #endregion Font Sizes */

  /*------------------------------------*\
    # Font sizes, transitions, forms
    \*------------------------------------*/

  /* #region transitions */
  --global-transitionEasing-out: ease-out;
  --global-transitionEasing-out-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
  --global-transitionDuration-alpha: 0.1s;
  --global-transitionDuration-beta: 0.2s;
  --global-transitionDuration-gamma: 0.3s;
  /* #endregion transitions */

  /* #region forms */
  --global-input-focus-boxShadowSpread: 0 0 0 0.1875rem;
  /* --global-input-focus-boxShadowColor: 
        --global-input-error-boxShadowColor: 
        --global-label-color: 
        --global-placeholder-color: 
        --global-input-backgroundColor: 
        --global-input-color: 
        --global-input-borderColor: 
        --global-input-hover-borderColor: 
        --global-input-focus-borderColor: 
        --global-input-focus-boxShadowColor: 
        --global-input-error-boxShadowColor:  */
  /* #endregion forms */

  /*------------------------------------*\
    # Box shadow 
    \*------------------------------------*/
  --global-boxshadow: 0px 3px 6px 1px rgba(189, 154, 113, 0.3);
  --global-boxschadow-focus: 0 0 0 calc(3rem / 16) #4e00f14d;

  /*------------------------------------*\
    # Borders
    \*------------------------------------*/
  --global-borderColor: var(--global-color-neutral-light);
  --global-borderColor-focus: var(--global-color-alpha-dark);

  --global-borderRadius: 3rem;

  --global-border: var(--global-borderWidth-2) solid var(--global-borderColor);
  --global-border-focus: var(--global-borderWidth-2) solid var(--global-borderColor-focus);
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
  background: var(--global-page-backgroundColor);
  color: var(--global-page-textColor-black);
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Montserrat', Helvetica, arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
  background: var(--global-selection-backgroundColor);
  color: var(--global-color-neutral-xxxx-light);
  text-shadow: none;
}

::selection {
  background: var(--global-selection-backgroundColor);
  color: var(--global-color-neutral-xxxx-light);
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 2.25rem;
  line-height: calc(var(--global-baseline-x10) * 6);
  margin: 0 0 var(--global-whitespace);
}

h2 {
  font-size: 2rem;
  line-height: calc(var(--global-baseline-x10) * 5);
  margin: 0 0 var(--global-whitespace);
}

h3 {
  font-size: 1.625rem;
  line-height: calc(var(--global-baseline-x10) * 4);
  margin: 0 0 var(--global-whitespace);
}

h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: calc(var(--global-baseline-x10) * 3);
  margin: 0 0 var(--global-whitespace);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 var(--global-baseline-x10);
}

ul,
ol {
  padding-left: var(--global-whitespace);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: 1.5rem;
  line-height: calc(var(--global-baseline-x10) * 6);
  margin: 0 0 var(--global-whitespace);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: calc(var(--global-baseline-x10) * 2);
  margin-top: var(--global-whitespace-xxs);
}

hr {
  border: 0;
  height: var(--global-borderWidth);
  background: LightGrey;
  margin: 0 0 var(--global-whitespace);
}

a {
  --link-transition: all var(--global-transitionDuration-alpha) var(--global-transitionEasing-out);
  transition: var(--link-transition);
  color: var(--link-color, var(--global-color-alpha));
  outline-color: var(--link-boxShadowColor);
  outline-width: medium;
  outline-offset: 2px;
}

a:visited {
  color: var(--link-visited-color, var(--global-color-alpha));
}

a:hover {
  color: var(--link-hover-color, var(--global-color-alpha-light));
}

a:active {
  color: var(--link-active-color, var(--global-color-alpha-dark));
}

a:focus {
  color: var(--link-focus-color, var(--global-color-alpha));
}

label,
input {
  display: block;
}

select {
  width: 100%;
}

.o-row {
  position: relative;
  padding: var(--global-whitespace) var(--global-whitespace) 0;
}

.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 79.5em; /* 79.5 * 16px = 1272 */
  width: 100%;
  height: 100%;
}

.o-hide {
  font-size: 8px;
  color: transparent;
}

.o-layout_center {
  display: block;
  align-items: center;
  justify-content: center;
}

/*==============================================================================================================================================================================================*/

/* #region Welcome page */

.c-button {
  --c-button-transition: var(--global-transitionDuration-alpha);
  --c-button-boxShadow-focus: var(--global-boxschadow-focus);

  --c-button-backgroundColor: var(--global-color-beta-neutral);
  --c-button-backgroundColor-active: var(--global-color-beta-darkish);
  --c-button-borderRadius: var(--global-borderRadius);

  --c-button-textColor: var(--global-color-alpha-dark-xx);
  --c-button-textWeight: bold;

  padding: var(--global-whitespace-sm) var(--global-whitespace-lg);

  background-color: var(--c-button-backgroundColor);
  background-color: var(--c-button-backgroundColor);
  color: var(--c-button-textColor) !important;
  font-weight: var(--c-button-textWeight);

  border-radius: var(--c-button-borderRadius);
  transition: var(--c-button-transition);
  box-shadow: var(--global-boxshadow);

  outline: none;
}

.c-button:hover,
.c-button:focus {
  background-color: var(--global-color-beta-neutral);
  box-shadow: var(--global-boxshadow);
}

.c-button:active,
.c-button:visited {
  --c-button-backgroundColor: var(--c-button-backgroundColor-active);

  background-color: var(--c-button-backgroundColor);
}

.c-top-welcome {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 4rem 4rem 4rem 4rem;
  min-height: 50vh;
}

.c-cyclist {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  align-items: baseline;

  grid-row: 5;
  grid-column: 2;

  bottom: 0;

  width: 10rem; /* origineel 8rem*/
  fill: var(--global-color-beta-neutral);
}

.c-postion-1 {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column: 2;

  background-color: var(--global-color-neutral-xxxx-dark);
}

.c-postion-2 {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column: 1;

  background-color: var(--global-color-neutral-dark);
}

.c-postion-3 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column: 3;

  background-color: var(--global-color-neutral-light);
}

.c-bottom-welcome {
  min-height: 50vh;
  background-color: var(--global-color-neutral-xxx-dark);
}

.c-bottom-welcome-content {
  position: relative;
  z-index: 1;
  top: 2rem;
}

.c-title {
  margin-top: -2rem;
  position: relative;
  text-align: right;

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.c-title::after {
  content: '';

  position: absolute;
  border-top: 1px solid var(--global-color-beta-neutral);

  left: 25%;
  bottom: 0;
  width: 50%;
  height: 0px;
}

.c-content-center {
  margin: 0 auto;
  display: block;
}

.u-text-color_1 {
  color: var(--global-color-beta-neutral);
}

.u-text-color_2 {
  color: var(--global-color-neutral-xxxx-light);
}

.u-text-color_3 {
  color: var(--global-color-neutral-xxxx-dark);
}

.u-fz-sm {
  font-size: var(--global-fz-sm);
}

.u-fz-md {
}

.u-fz-lg {
  font-size: var(--global-fz-lg);
  font-weight: 600;
}

.u-text-center {
  text-align: center;
  justify-content: center;
  align-items: center;
}

@media (min-width: 400px) {
  .text::after {
    left: 50%;
    width: 5rem;
  }
}

@media (min-width: 500px) {
  .c-top-welcome {
    grid-template-columns: auto 10rem 10rem 10rem auto;
  }

  .text::after {
    width: 30px;
  }

  .c-postion-1 {
    grid-column: 3;
  }

  .c-postion-2 {
    grid-column: 2;
  }

  .c-postion-3 {
    grid-column: 4;
  }

  .c-cyclist {
    grid-column: 3;
  }
}

@media (min-width: 600px) {
  .text::after {
    left: 50%;
    width: 2rem;
  }
}

/* Larger screens */
@media (min-width: 1000px) {
  /* Fontsizes */
  .u-fz-lg {
    font-size: var(--global-fz-lg-xxx);
  }

  .u-fz-md {
    font-size: var(--global-fz-lg);
  }

  .u-fz-sm {
    font-size: var(--global-fz-lg);
  }

  .c-content-center {
    margin-top: 2.5rem;
  }
}

/* Desktop */
@media (min-width: 1700px) {
  /* Grid */

  .c-top-welcome {
    grid-template-columns: auto 15rem 15rem 15rem auto;
    grid-template-rows: 5rem 5rem 5rem 5rem;
  }

  /* Podium */
  .c-postion-1 {
    grid-row-start: 2;
    grid-row-end: 6;
    grid-column: 3;
  }

  .c-postion-2 {
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column: 2;
  }

  .c-postion-3 {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column: 4;
  }

  .c-title::after {
    left: 35%;
    width: 30%;
  }
}

/* #endregion */

/* #region Main page */

/* #endregion */

/* #region Leaderboard page */

/* #endregion */

/* #region Settings page */

/* #endregion */
